dvc==3.26.1
fess38.competitions.examples @ file:///usr/local/lib/kaggle/competitions/examples
fess38.data_processing @ file:///usr/local/lib/kaggle/data_processing
fess38.training @ file:///usr/local/lib/kaggle/training
fess38.util @ file:///usr/local/lib/kaggle/util
hydra-core==1.3.2
